version: 2
updates:
  - package-ecosystem: "pip"
    directory: "/backend"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

  - package-ecosystem: "npm"
    directory: "/sdk/ts"
    schedule:
      interval: "weekly"
    open-pull-requests-limit: 10

